<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Canopy access Request</h1>
<p><%= email %> would like access to Canopy</p>
</body>
</html>